$color-primary: rgb(16, 147, 255);
$color-secondary: #F98200;

$color-gray-light: #EFEFEF;
$color-gray-mid: #848484;
$color-gray-dark: #525252;
$color-dark: #3d3d3d;
$color-gray-mid-light: #dfdfdf;

$color-success: #24C67C;
$color-danger: #F91E87;

$color-white: rgb(248, 248, 248);

$font-1: 'Montserrat', sans-serif;