.ChoreList {
    margin: auto;
    font-family: $font-1;

    &__title {
        margin: auto;
        width: 75%;
        margin-bottom: 1.5rem;
    }

    &__list-title {
        color: $color-gray-dark;
        font-weight: bold;
        font-size: 1.2rem;
        background-color: white;
        padding: 10px 20px 10px 0px;
        position: relative;
        display: inline-block;
        z-index: 3;
        &--need-to-do {
            color: $color-danger;
        }
        &--pending {
            color: $color-primary;
        }
        &--approved {
            color: $color-success;
        }
    }
    &__divider {
        position: relative;
        top: -25px;
        z-index: 1;
        border-bottom: 2px solid $color-gray-dark;
        &--need-to-do {
            border-bottom: 2px solid $color-danger;
        }
        &--pending {
            border-bottom: 2px solid $color-primary;
        }
        &--approved {
            border-bottom: 2px solid $color-success;
        }
    }
}