.Footer {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1.3rem;
    &__logo {
        width: 8rem;
    }
    &__copyright {
        color: $color-gray-mid;
        text-align: center;
        font-size: .9rem;
    }
}