.TeamUserList {
    margin: auto;
    font-family: $font-1;
    &__title {
        margin: auto;
        margin-bottom: 1.5rem;
    }
    &__list-title {
        color: $color-primary;
        font-weight: bold;
        font-size: 1.2rem;
        background-color: white;
        padding: 10px 20px 10px 0px;
        position: relative;
        display: inline-block;
        z-index: 3;
    }
    &__divider {
        position: relative;
        top: -25px;
        z-index: 1;
        border-bottom: 2px solid $color-primary;
    }
    &__toggle-points-view {
        display: flex;
        justify-content: flex-end;
    }
}

@mixin ordinal-style {
        font-size: 1rem;
        vertical-align: 100%;
        color: $color-primary;
}

.TeamUserCard {
        text-decoration: none;
        color: $color-dark;
    &__box-shadow {
        margin-left: 4rem;
        filter: drop-shadow(0px 2px 10px rgba(0,0, 0, 0.3))
    }
    &__clipped {
        position: absolute;
        background-color: white;
        background: linear-gradient(65deg, $color-primary 55px, white 18px);
        min-width: 956px;
        margin: auto;
        margin-bottom: 2rem;
        margin-left: 21px;
        height: 100px;
        z-index: 0;
        clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 5% 100%);
        &--first {
            background: linear-gradient(65deg, $color-success 55px, white 18px);
        }
        &--second {
            background: linear-gradient(65deg, $color-secondary 55px, white 18px);
        }
        &--third {
            background: linear-gradient(65deg, $color-tertiary 55px, white 18px);
        }
    }

    &__container {
        position: relative;
        margin: auto;
        margin-bottom: 2rem;
        width: 75%;
        border-radius: 0px;
        padding: 10px 20px 10px 20px;
        transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 5;
        box-shadow: 0px 2px 10px rgba(0,0, 0, 0.3);

        @include respond(tab-port) {
            width: 95%;;
        }

        &--first {
            border-left: 10px solid $color-success;
        }
        &--second {
            border-left: 10px solid $color-secondary;
        }
        &--third {
            border-left: 10px solid $color-tertiary;
        }
        &--other-number {
            &--st, &--nd, &--rd, &--th {
                border-left: 10px solid $color-primary;
            }
        }
    }

    &__star {
        position: absolute;
        color: #1093ff;
        padding: 0px;
        margin: 0px;
        float: left;
        z-index: 3;
        left: 109px;
        top: 29px;

        @include respond(tab-port) {
            position: static;
            margin-right: -15px;
        }
    }

    &__inner-container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin: auto;

        @include respond(tab-port) {
            width: 100%;
            flex-direction: column;
            padding: 20px 0px;
            padding-bottom: 10px;
        }
        &--align-center {
            align-items: center;
        }
    }
    &__left {
        display: flex;
    }
    &__position {
        width: 75px;
        color: $color-primary;
        font-size: 2.8rem;
        font-weight: bold;
        padding-right: 2rem;
        position: relative;
        @include respond(tab-port) {
            margin-bottom: 30px;
        }
    }
    &__points {
        color: $color-primary;
        font-size: 1.8rem;
        font-weight: bold;
    }
    &__image {
        margin-top: .3rem;
    }
    &__name {
        flex-grow: 1;
        display: flex;
        padding-left: 15px;
    }
    &__firstname {
        color: $color-dark;
        font-size: 1.5rem;
        font-weight: bold;
    }
    &__username {
        font-size: .9rem;
        color: $color-gray-dark;
    }
    &__titles {
        margin-top: .3rem;
        display: flex;
        color: $color-primary;

        @include respond(tab-port) {
            font-size: .8rem;
            position: absolute;
            top: 80px;
            margin-left: -7px;
            flex-direction: column;
        }
    }
    &__titles p {
        padding-left: 5px;
    }
    &__first {
        color: $color-success;
    }
    &__first::after {
        content: "st";
        font-size: 1rem;
        vertical-align: 100%;
        color: $color-success;
    }
    &__second {
        color: $color-secondary;
    }
    &__second::after {
        content: "nd";
        font-size: 1rem;
        vertical-align: 100%;
        color: $color-secondary;
    }
    &__third {
        color: $color-tertiary;
    }
    &__third::after {
        content: "rd";
        font-size: 1rem;
        vertical-align: 100%;
        color: $color-tertiary;
    }
    &__other-numbers {
        color: $color-primary;
    }
    &__other-number {
        &--st::after {
            content: "st";
            @include ordinal-style;
        }
        &--nd::after {
            content: "nd";
            @include ordinal-style;
        }
        &--rd::after {
            content: "rd";
            @include ordinal-style;
        }
        &--th::after {
            color: $color-secondary;
            content: "th";
            @include ordinal-style;
        }
    }
    &__points-first {
        color: $color-success;
    }
    &__points-second {
        color: $color-secondary;
    }
    &__points-third {
        color: $color-tertiary;
    }
    &__points-other-number {
        color: $color-primary;
    }
    &__current-points {
        border-right: 1px solid $color-gray-mid-light;
        padding-right: .7rem;
        margin-right: .7rem;
        text-align: right;
        &--label {
            font-size: .8rem;
        }
        &--points {
            font-size: 1.2rem;
        }
    }
    &__all-points {
        text-align: right;
        @include respond(tab-port) {
            text-align: center;
        }
        &--label {
            color: $color-gray-mid;
            font-size: .8rem;
        }
        &--points {
            font-weight: bold;
            font-size: 2rem;
            @include respond(tab-port) {
                margin: 0px;
                line-height: 2rem;
                padding-top: 3px;
            }
        }
    }
}